#container-cabecario{
    height: 130px;
    background-color: #68D8B0;
    display: flex;
}

#img-logo{
    padding-top: 15px;
    padding-left:20px
}

#titulo-cabecario{
    padding-top: 60px;
    padding-left: 20px ;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}




   






#container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#CadastrodeAnimais {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#novaficha {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 400px; /* ajuste conforme necessário */
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilizando para telas pequenas (responsividade) */
@media (max-width: 600px) {
    form {
        width: 100%;
    }
}
#observacoes{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    margin-right: 10px;
    margin: 10px 0;
}
button#cancelar{
    width: 129px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D8686F;
    color: black;
}
button#salvar {
    width: 129px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #68D8B0;
    color: black;
}
#atendimento{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


button#novaFicha{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}


button#cadastrarAnimal{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}

button#buscarFicha{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}










#container-rodape{
    background-color: #68D8B0;
    height: 200px;
    align-items: center;
    padding: 10px;
    display: flex;
}

#img-logo-rodape {
    padding-left: 20px;
    margin-right: 395px;
}

#links-rodape {
    display: flex;
}

#lista-rodape {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

#lista-rodape li {
    margin-right: 300px;
}

#lista-rodape li strong {
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgba(1, 1, 1, 1);
}

button#botao-home {
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
}
button#informacoes {
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 300px;
}
button#faq{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 270px;
}
button#sobreEmpresa {
    padding: 5px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 355px;
}
button#telefone{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 240px;
}
button#chat{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 730px;
}

@media (max-width: 500px) {
    /* Adapte conforme necessário para telas pequenas */
    #container-rodape {
        flex-direction: column;
        align-items: flex-start;
    }

    #links-rodape {
        margin-top: 10px;
    }
}